In [1]:
import pandas as pd

df = pd.read_csv('data_science_salaries.csv')

df.head()

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

In [ ]:
#Funcion para predecir los datos según la formula de regresión lineal

import pandas as pd


df = pd.read_csv('data_science_salaries.csv')

x = df['work_year']
y = df['salary_in_usd']

n = len(x)
sum_x = x.sum()
sum_y = y.sum()
sum_xy = (x * y).sum()
sum_x_squared = (x ** 2).sum()


m = (n * sum_xy - sum_x * sum_y) / (n * sum_x_squared - sum_x ** 2)
b = (sum_y - m * sum_x) / n


year_2025 = 2024
salary_2025 = m * year_2025 + b

print("Pendiente (m):", m)
print("Intersección (b):", b)
print("Salario estimado en 2025:", salary_2025)


m_formatted = f"{m:,.2f}"
b_formatted = f"{b:,.2f}"
salary_2025_formatted = f"{salary_2025:,.2f}"

print("#########################################")

print("Pendiente (m):", m_formatted)
print("Intersección (b):", b_formatted)
print("Salario estimado en 2025: $", salary_2025_formatted)

Pendiente (m): 16400.51425194033
Intersección (b): -33029702.380156297
Salario estimado en 2025: 164938.46577093378
#########################################
Pendiente (m): 16,400.51
Intersección (b): -33,029,702.38
Salario estimado en 2025: $ 164,938.47

In [ ]:
#La misma pero según variadas por el campo de trabajo

import pandas as pd

df = pd.read_csv('data_science_salaries.csv')

df_data_engineer = df[df['job_title'] == 'Data Analyst']


x = df_data_engineer['work_year']
y = df_data_engineer['salary_in_usd']

n = len(x)
sum_x = x.sum()
sum_y = y.sum()
sum_xy = (x * y).sum()
sum_x_squared = (x ** 2).sum()

m = (n * sum_xy - sum_x * sum_y) / (n * sum_x_squared - sum_x ** 2)
b = (sum_y - m * sum_x) / n

year_2025 = 2024
salary_2025 = m * year_2025 + b

m_formatted = f"{m:,.2f}"
b_formatted = f"{b:,.2f}"
salary_2025_formatted = f"{salary_2025:,.2f}"

print("Pendiente (m):", m_formatted)
print("Intersección (b):", b_formatted)
print("Salario estimado en 2025:", salary_2025_formatted)

Pendiente (m): 6,206.37
Intersección (b): -12,447,549.67
Salario estimado en 2025: 114,147.45

In [ ]:
#Encapsulamiento como funcion para usarla en javascript

import pandas as pd

def predict_salary(job_title, year, csv_file='data_science_salaries.csv'):
   

    df = pd.read_csv(csv_file)

    df_filtered = df[df['job_title'] == job_title]
    
    if df_filtered.empty:
        return f"No se encontraron datos para el puesto: {job_title}"
  
    x = df_filtered['work_year']
    y = df_filtered['salary_in_usd']
    
    n = len(x)
    sum_x = x.sum()
    sum_y = y.sum()
    sum_xy = (x * y).sum()
    sum_x_squared = (x ** 2).sum()

    m = (n * sum_xy - sum_x * sum_y) / (n * sum_x_squared - sum_x ** 2)
    b = (sum_y - m * sum_x) / n

    
    predicted_salary = m * year + b

    return {
        "job_title": job_title,
        "year": year,
        "predicted_salary": f"{predicted_salary:,.2f}",
        "m": f"{m:,.2f}",
        "b": f"{b:,.2f}"
    }

result = predict_salary('Data Engineer', 2025)
print(result)

{'job_title': 'Data Engineer', 'year': 2025, 'predicted_salary': '175,721.56', 'm': '14,067.89', 'b': '-28,311,765.22'}

In [ ]:
#Funcion para sacar valores únicos de una columna
import pandas as pd

def get_unique_column_values(csv_file, column_name):
    try:
    
        df = pd.read_csv(csv_file)
        
        
        if column_name not in df.columns:
            return f"La columna '{column_name}' no se encuentra en el archivo CSV."

        
        unique_values = df[column_name].dropna().unique()

        return unique_values.tolist() 
    except Exception as e:
        return f"Se produjo un error: {e}"


unique_values = get_unique_column_values('data_science_salaries.csv', 'job_title')
print(unique_values)

['Data Engineer', 'Data Scientist', 'BI Developer', 'Research Analyst', 'Business Intelligence Developer', 'Data Analyst', 'Director of Data Science', 'MLOps Engineer', 'Machine Learning Scientist', 'Machine Learning Engineer', 'Data Science Manager', 'Applied Scientist', 'Business Intelligence Analyst', 'Analytics Engineer', 'Business Intelligence Engineer', 'Data Science', 'Research Scientist', 'Research Engineer', 'Managing Director Data Science', 'AI Engineer', 'Data Specialist', 'Data Architect', 'Data Visualization Specialist', 'ETL Developer', 'Data Science Practitioner', 'Computer Vision Engineer', 'Data Lead', 'ML Engineer', 'Data Developer', 'Data Modeler', 'Data Science Consultant', 'AI Architect', 'Data Analytics Manager', 'Data Science Engineer', 'Data Product Manager', 'Data Quality Analyst', 'Data Strategist', 'Prompt Engineer', 'Data Science Lead', 'Business Intelligence Manager', 'Data Manager', 'Data Analytics Lead', 'Machine Learning Infrastructure Engineer', 'Data Integration Engineer', 'Data Management Analyst', 'BI Analyst', 'Business Data Analyst', 'Machine Learning Operations Engineer', 'NLP Engineer', 'Marketing Data Scientist', 'AI Scientist', 'Machine Learning Researcher', 'Data Science Director', 'Head of Data', 'Machine Learning Modeler', 'Data Integration Specialist', 'Data Management Specialist', 'AI Developer', 'Business Intelligence Specialist', 'Data Quality Engineer', 'Decision Scientist', 'Financial Data Analyst', 'Data Strategy Manager', 'Data Visualization Engineer', 'Principal Data Scientist', 'Data Infrastructure Engineer', 'Machine Learning Software Engineer', 'Head of Machine Learning', 'Data Operations Analyst', 'Data Operations Engineer', 'Machine Learning Manager', 'BI Data Analyst', 'AI Research Engineer', 'Deep Learning Engineer', 'Data Operations Manager', 'Head of Data Science', 'Software Data Engineer', 'Compliance Data Analyst', 'Data Operations Specialist', 'Business Intelligence Data Analyst', 'AWS Data Architect', 'Product Data Analyst', 'Data Visualization Analyst', 'Cloud Data Engineer', 'Finance Data Analyst', 'Applied Machine Learning Engineer', 'Lead Data Analyst', 'BI Data Engineer', 'Cloud Database Engineer', 'Applied Machine Learning Scientist', 'Data Analytics Specialist', 'Big Data Engineer', 'Machine Learning Research Engineer', 'Staff Data Analyst', 'Lead Data Scientist', 'Insight Analyst', 'Azure Data Engineer', 'Data Analyst Lead', 'AI Programmer', 'Applied Data Scientist', 'AI Product Manager', 'Principal Machine Learning Engineer', 'Lead Machine Learning Engineer', 'Data Quality Manager', 'Data Product Owner', 'Data Modeller', 'Analytics Engineering Manager', 'Autonomous Vehicle Technician', 'ETL Engineer', 'Big Data Architect', 'Machine Learning Specialist', 'Data DevOps Engineer', 'Principal Data Engineer', 'Power BI Developer', 'Deep Learning Researcher', 'Consultant Data Engineer', 'Computer Vision Software Engineer', 'Manager Data Management', 'Data Analytics Consultant', 'Data Science Tech Lead', 'Data Analytics Engineer', 'Data Scientist Lead', 'Machine Learning Developer', 'Principal Data Architect', 'Marketing Data Analyst', 'Lead Data Engineer', 'Principal Data Analyst', 'Staff Machine Learning Engineer', 'Cloud Data Architect', 'Staff Data Scientist', 'Marketing Data Engineer', 'Sales Data Analyst']

In [ ]:
#Está funcion cuenta los elemenos repetidos en una columna y los guarda según los elementos en un JSON

import pandas as pd
import json

def count_repeated_values_to_json(csv_file, column_name, output_json_file):
    try:
        
        df = pd.read_csv(csv_file)
        
        
        if column_name not in df.columns:
            return f"La columna '{column_name}' no se encuentra en el archivo CSV."

       
        value_counts = df[column_name].value_counts()

        
        counts_dict = value_counts.to_dict()

        
        with open(output_json_file, 'w', encoding='utf-8') as f:
            json.dump(counts_dict, f, ensure_ascii=False, indent=4)

        return f"Las cuentas se han guardado en el archivo '{output_json_file}'."
    except Exception as e:
        return f"Se produjo un error: {e}"


result = count_repeated_values_to_json('data_science_salaries.csv', 'job_title', 'job_title_counts.json')
print(result)

Las cuentas se han guardado en el archivo 'job_title_counts.json'.

In [ ]:
#Está funcion cuenta la frecuencia de apariciones de los titulos de trabajo y los que son menores a 600 los agrupa en una
#categoría de otros para usarlo en la grafica ya que lo exportamos a un JSON

import json

def group_elements_by_frequency(input_json_file, output_json_file, threshold=600):
    try:
        
        with open(input_json_file, 'r', encoding='utf-8') as f:
            data = json.load(f)

        
        if not isinstance(data, dict):
            return "El archivo JSON debe contener un diccionario con pares clave-valor."

      
        grouped_data = {}
        otros_sum = 0

        
        for key, value in data.items():
            if value < threshold:
                otros_sum += value 
            else:
                grouped_data[key] = value 

        
        if otros_sum > 0:
            grouped_data["Otros"] = otros_sum

       
        with open(output_json_file, 'w', encoding='utf-8') as f:
            json.dump(grouped_data, f, ensure_ascii=False, indent=4)

        return f"El archivo JSON agrupado se ha guardado en '{output_json_file}'."
    except Exception as e:
        return f"Se produjo un error: {e}"


result = group_elements_by_frequency('job_title_counts.json', 'grouped_job_title_counts.json')
print(result)

El archivo JSON agrupado se ha guardado en 'grouped_job_title_counts.json'.

In [ ]:
#Funcion para filtrar exportar a un JSON los valores de una columna, filtrados y convertidos a lista.

import pandas as pd
import json


def csv_column_to_json(csv_file, column_name, json_file):
    try:
    
        df = pd.read_csv(csv_file)
        
    
        if column_name not in df.columns:
            return f"La columna '{column_name}' no se encuentra en el archivo CSV."
        
    
        column_values = df[column_name].dropna().tolist()
        
      
        with open(json_file, 'w', encoding='utf-8') as f:
            json.dump(column_values, f, ensure_ascii=False, indent=4)
        
        return f"Los valores de la columna '{column_name}' se han guardado en el archivo '{json_file}'."
    except Exception as e:
        return f"Se produjo un error: {e}"


result = csv_column_to_json('data_science_salaries.csv', 'job_title', 'job_titles.json')
print(result)

Los valores de la columna 'job_title' se han guardado en el archivo 'job_titles.json'.

In [ ]:
#Funcion para contar los valores de una la columna employed y fitrar los 4 primeros más repetidos y exportarlos a un JSON

import pandas as pd
import json

def count_top_countries(csv_file, column_name='employee_residence', top_n=4, output_file='country_counts.json'):
    
    df = pd.read_csv(csv_file)

    
    country_counts = df[column_name].value_counts()

    
    top_countries = country_counts.head(top_n)
    others_count = country_counts.iloc[top_n:].sum()

   
    result = {country: int(count) for country, count in top_countries.items()}
    result["Otros"] = int(others_count)

   
    with open(output_file, 'w') as f:
        json.dump(result, f, indent=4)

    return result

csv_file = 'data_science_salaries.csv'
output = count_top_countries(csv_file)
print(json.dumps(output, indent=4))

{
    "United States": 5305,
    "United Kingdom": 401,
    "Canada": 241,
    "Germany": 71,
    "Otros": 581
}

In [ ]:
#Calcula el promedio del salario de los año de los trabajos principales

import pandas as pd

def predict_salary(job_title, year, csv_file='data_science_salaries.csv'):
    df = pd.read_csv(csv_file)

    df_filtered = df[df['job_title'] == job_title]
    if df_filtered.empty:
        return f"No se encontraron datos para el puesto: {job_title}"
  
    x = df_filtered['work_year']
    y = df_filtered['salary_in_usd']
    
    n = len(x)
    sum_x = x.sum()
    sum_y = y.sum()
    sum_xy = (x * y).sum()
    sum_x_squared = (x ** 2).sum()

    m = (n * sum_xy - sum_x * sum_y) / (n * sum_x_squared - sum_x ** 2)
    b = (sum_y - m * sum_x) / n

    predicted_salary = m * year + b

    return {
        "job_title": job_title,
        "year": year,
        "predicted_salary": f"{predicted_salary:,.2f}"
    }


titles = ["Data Engineer", "Data Scientist", "Data Analyst", "Machine Learning Engineer"]
years = [2020, 2021, 2022, 2023, 2024, 2025]


results = []
for title in titles:
    for year in years:
        result = predict_salary(title, year)
        results.append(result)

for res in results:
    print(res)

{'job_title': 'Data Engineer', 'year': 2020, 'predicted_salary': '105,382.09'}
{'job_title': 'Data Engineer', 'year': 2021, 'predicted_salary': '119,449.98'}
{'job_title': 'Data Engineer', 'year': 2022, 'predicted_salary': '133,517.88'}
{'job_title': 'Data Engineer', 'year': 2023, 'predicted_salary': '147,585.77'}
{'job_title': 'Data Engineer', 'year': 2024, 'predicted_salary': '161,653.67'}
{'job_title': 'Data Engineer', 'year': 2025, 'predicted_salary': '175,721.56'}
{'job_title': 'Data Scientist', 'year': 2020, 'predicted_salary': '89,267.96'}
{'job_title': 'Data Scientist', 'year': 2021, 'predicted_salary': '110,839.53'}
{'job_title': 'Data Scientist', 'year': 2022, 'predicted_salary': '132,411.10'}
{'job_title': 'Data Scientist', 'year': 2023, 'predicted_salary': '153,982.67'}
{'job_title': 'Data Scientist', 'year': 2024, 'predicted_salary': '175,554.24'}
{'job_title': 'Data Scientist', 'year': 2025, 'predicted_salary': '197,125.80'}
{'job_title': 'Data Analyst', 'year': 2020, 'predicted_salary': '89,321.96'}
{'job_title': 'Data Analyst', 'year': 2021, 'predicted_salary': '95,528.33'}
{'job_title': 'Data Analyst', 'year': 2022, 'predicted_salary': '101,734.70'}
{'job_title': 'Data Analyst', 'year': 2023, 'predicted_salary': '107,941.08'}
{'job_title': 'Data Analyst', 'year': 2024, 'predicted_salary': '114,147.45'}
{'job_title': 'Data Analyst', 'year': 2025, 'predicted_salary': '120,353.82'}
{'job_title': 'Machine Learning Engineer', 'year': 2020, 'predicted_salary': '83,576.57'}
{'job_title': 'Machine Learning Engineer', 'year': 2021, 'predicted_salary': '115,836.03'}
{'job_title': 'Machine Learning Engineer', 'year': 2022, 'predicted_salary': '148,095.49'}
{'job_title': 'Machine Learning Engineer', 'year': 2023, 'predicted_salary': '180,354.95'}
{'job_title': 'Machine Learning Engineer', 'year': 2024, 'predicted_salary': '212,614.41'}
{'job_title': 'Machine Learning Engineer', 'year': 2025, 'predicted_salary': '244,873.87'}

In [ ]:
#Calcula el promedio de los otros trabajos excluyendo a los principales

import pandas as pd
import json

def calculate_others_average(csv_file, titles_to_exclude, years, output_file='others_average.json'):
    
    df = pd.read_csv(csv_file)
    
   
    df_others = df[~df['job_title'].isin(titles_to_exclude)]
    
    if df_others.empty:
        return f"No se encontraron trabajos diferentes a {titles_to_exclude}"
    
  
    df_others = df_others[df_others['work_year'].isin(years)]
    
   
    averages = df_others.groupby('work_year')['salary_in_usd'].mean().to_dict()
    
   
    result = {
        "excluded_titles": titles_to_exclude,
        "average_salaries_for_others": {int(year): f"{avg:,.2f}" for year, avg in averages.items()}
    }
    
    
    with open(output_file, 'w') as f:
        json.dump(result, f, indent=4)
    
    return result


titles = ["Data Engineer", "Data Scientist", "Data Analyst", "Machine Learning Engineer"]
years = [2020, 2021, 2022, 2023, 2024, 2025]


csv_file = 'data_science_salaries.csv'
output = calculate_others_average(csv_file, titles, years)


print(json.dumps(output, indent=4))

{
    "excluded_titles": [
        "Data Engineer",
        "Data Scientist",
        "Data Analyst",
        "Machine Learning Engineer"
    ],
    "average_salaries_for_others": {
        "2020": "122,755.84",
        "2021": "117,781.83",
        "2022": "138,066.58",
        "2023": "153,595.37",
        "2024": "162,674.91"
    }
}